@*@page*@
@model IEnumerable<Benaa2018.Helper.ViewModels.GroupMasterViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainContentDiv calenderHolder" style="margin-left: 235px">
    <div>   
        <button class="btn btn-primary btn-sm dropdown-toggle" type="submit" id="btnGroupMaster" data-toggle="dropdown">Add Group Master</button>
    </div>
    <div id="grdLst">
        @if (!Model.Any())
        {
            <div>There are no Data</div>
        }
        else
        {
            <table class="table table-bordered table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Group Id </th>
                        <th>Group Code </th>
                        <th>Group Name </th>
                        <th>Sequence</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in Model)
                    {
                        <tr>
                            <td>@d.GroupId</td>
                            <td>@d.GroupCode</td>
                            <td>@d.GroupName</td>
                            <td>@d.Sequence</td>
                            <td>@d.Status</td>
                            <td>
                                <input type="button" class="btnEditGroup" value="Edit" />
                                <input type="button" class="btnDeleteGroup" value="Delete" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.btnEditGroup').click(function () {
                var currentRow = $(this).closest("tr");
                var col1 = currentRow.find("td:eq(0)").text();
                window.location = '/GroupMaster/UpdateGroupMaster?group_id=' + col1;
            });

            $('.btnDeleteGroup').click(function () {
                var currentRow = $(this).closest("tr");
                var col1 = currentRow.find("td:eq(0)").text();

                 $.ajax({
                    url: '@Url.Action("DeleteGroupMaster")',
                    type: 'get',
                    cache: false,
                    data: { group_id: col1 }
                }).done(function (result) {
                });
            });
            $('#btnGroupMaster').click(function () {
                window.location = '/GroupMaster/InsertGroupMaster';
            });
        });
    </script>
</div>
