@model List<Benaa2018.Helper.ViewModels.ActivityMasterViewModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ var ListId = "ActivityList" + @ViewBag.TempMainActivityId;
    var TitleId = "NewTitletxt" + @ViewBag.TempMainActivityId;
    var DescriptionId = "Description" + @ViewBag.TempMainActivityId;
    var MainActivityId = "MainActivityId" + @ViewBag.TempMainActivityId;
    var OrgId = "OrgID" + @ViewBag.TempMainActivityId;
    var UnitId = "UnitList" + @ViewBag.TempMainActivityId;
    var UnitNumber = "txtUnitNumber" + @ViewBag.TempMainActivityId;
    var TempPorjectId = "TempProjectId" + @ViewBag.TempMainActivityId;
    var SubmitCallFunction = "SubmitCall" + @ViewBag.TempMainActivityId + "()";
    <div class="BOQcontentHolderFinal odd emptyBoxHolder">

        <form id="frmSubmitAddActivityBOQ" enctype="multipart/form-data" method="post">

            <input type="hidden" id="@MainActivityId" value="@ViewBag.TempMainActivityId" />
            <input type="hidden" id="@OrgId" value="@ViewBag.TempOrgId" />

            <input type="hidden" id="@TempPorjectId" value="@ViewBag.ProjectId" />
            <ul class="BOQcontentHolderFinalUl">
                <li>
                    <label>
                        <input type="checkbox" class="checkAll" style="margin-top:2px;">
                    </label>
                    <img src="~/images/del_line.gif" alt="" title="" />
                </li>
                <li>
                    <span class="input-group-addon li-catalog">
                        <a href="#" title="Link this line item to your cost catalog">
                            <img alt="Selection Catalog" src="~/images/catalogWhite.png">
                        </a>
                    </span>
                    <div class="box">
                        <div class="box-body">
                            @* data-live-search="true" *@
                            <div class="form-group">
                                <select class="form-control" id="@ListId" name="">


                                    @foreach (var itemActivity in Model)
            {

                        <option value="@itemActivity.ActivityId">@itemActivity.ActivityName</option>

}

                                </select>
                            </div>

                        </div>
                    </div>
                </li>
                <li>
                    <select id="@UnitId">
                        <option value="0">-- Select --</option>
                        <option value="1"> 1</option>
                        <option value="2"> 2</option>
                    </select>
                </li>
                <!--li>Activity Type</li-->
                <li><input type="text" name="txtUnitNumber" id="@UnitNumber"></li>

                <li>
                    <button class="btn btn-primary btn-sm" type="button" onclick="@SubmitCallFunction;">Add</button>
                    @*<span class="addNewBox">Add</span>*@

                </li>
            </ul>
            <div class="textBoxHolderToggle">
                <button type="button" class="btn btn-link btn-xs" title="Toggle title, description, &amp; notes">
                    <div class="toggle-state">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-caret-down fa-stack-1x fa-inverse toggle-icon"></i>
                        </span>
                    </div>
                </button>
            </div>
            <div class="textBoxHolder">
                <ul>
                    <li>
                        <textarea class="form-control input-sm" maxlength="50" name="Title" id="@TitleId" placeholder="Title"></textarea>
                    </li>
                    <li>
                        <textarea class="form-control input-sm" maxlength="50" name="Description" id="@DescriptionId" placeholder="Description"></textarea>
                    </li>

                </ul>
            </div>
        </form>



        <script>
        function @SubmitCallFunction {
            alert($('#@ListId option:selected').val());
            alert($('#@ListId').val());
            //console.log($('#select-country'));
            //var Data = { Project_ID: $('#ProjectId').val(), MainActivity_ID: $('#MainActivityId').val(), Activity_ID: $('#ActivityList option:selected').val(), Unit_ID: $('#UnitList option:selected').val(), Quantity: $('#txtUnitNumber').val(), Title: $('#NewTitletxt').val(), Description: $('#Description').val(), Org_ID: $('#OrgID').val() };
            var Data = { Project_ID: $('#@TempPorjectId').val(), MainActivity_ID: $('#@MainActivityId').val(), Activity_ID: $('#@ListId option:selected').val(), Unit_ID: $('#@UnitId option:selected').val(), Quantity: $('#@UnitNumber').val(), Title: $('#@TitleId').val(), Description: $('#@DescriptionId').val(), Org_ID: $('#OrgID').val() };
            console.log(Data);
            $.ajax({
                type: "Post",
                url: "/Home/AddBOQ",
                data: Data,
                success: function (response) {
                    alert('Record has been added successfully.');
                    window.location.reload();
                    //$("#Results").html('');
                    //$("#Results").html(response);
                    //$('#StudentName').val('');
                    //$("#select-country").val("0");


                }



            })
        }
        </script>

    </div>

    
}