@*@model Benaa2018.Helper.ViewModels.UserMasterViewModel*@
@*@model Benaa2018.Helper.ViewModels.UserPreferenceViewModel*@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - SBS2018</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Shada</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom CSS -->
    <link href="~/css/jquery.multiselect.css" rel="stylesheet" />
    <link href="~/css/responsive-tabs.css" rel="stylesheet" />
    <link href="~/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="~/stylesheet" href="css/bootstrap-datepicker3.css" />
    <link href="~/css/style.css" rel="stylesheet">
    <style type="text/css">

        .ulstyle {
            list-style-type: none;
            width:100%;
            height:20px;
        }

        .liStyle {
            display:inline-block;
            *display:inline;
            *zoom:1;
            margin-right:10px;
        }
    </style>
</head>
<body>
    <!--------------------- Top nav start here------------->

    <nav class="navbar navbar-inverse myNav" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>


        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navLeft">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-home homeIcon"></span> <b class="caret caretMove"></b></a><ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target="#infoModal" data-original-title><span class="fa fa-info-circle"></span> Project Info</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#newProject" data-original-title><span class="fa fa-plus"></span> New Project</a></li>
                        <li><a href="#"><span class="fa fa-file"></span> Project WBS</a></li>
                        <li><a href="#"><span class="fa fa-map"></span> Poject Base Plan </a></li>
                        <li><a href="#"><span class="fa fa-dollar"></span> Poject Budget</a></li>
                        <li><a href="#"><span class="fa fa-list"></span> Project Summary</a></li>
                        <li>
                            <div class="grayli">
                                <span class="fa fa-close grayClose" aria-hidden="true"></span>
                                <a href="#" class="videoThumb"><img src="images/video.png" class="img-responsive"></a><span class="grayliTxt">
                                    <b>Lorem Lipsum doller sit</b>
                                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                                </span>
                            </div>
                        </li>


                    </ul>
                </li>

                <li class="dropdown inlineIcon">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Todo <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <div class="liDiv">

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-tasks"></span> <span>Task Assignment</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-calendar"></span> <span>Calender</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-thermometer-empty"></span> <span>Quality Management</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>


                            <li class="videocontainer">
                                <div class="grayli">
                                    <span class="fa fa-close grayClose" aria-hidden="true"></span>
                                    <a href="#" class="videoThumb"><img src="images/video.png" class="img-responsive"></a><span class="grayliTxt">
                                        <b>Lorem Lipsum doller sit</b>
                                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                                    </span>
                                </div>
                            </li>
                        </div>

                    </ul>

                </li>

                <li class="dropdown inlineIcon">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tendering <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <div class="liDiv">
                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-calendar-plus-o"></span> <span>Tendering Schedule</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-pie-chart"></span> <span>Qualify SubCont./Supp.</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-check-square"></span> <span>Quotation Request</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-upload"></span> <span>Quotation Upload</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-thumbs-o-up"></span> <span>Quotation Analysys & Approved</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-files-o"></span> <span>Letter of Intent</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-copyright"></span> <span>Contracts Terms</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-dollar"></span> <span>Payment Schedule</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-trophy"></span> <span>Warranty</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>



                            <li class="videocontainer">
                                <div class="grayli">
                                    <span class="fa fa-close grayClose" aria-hidden="true"></span>
                                    <a href="#" class="videoThumb"><img src="images/video.png" class="img-responsive"></a><span class="grayliTxt">
                                        <b>Lorem Lipsum doller sit</b>
                                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                                    </span>
                                </div>
                            </li>


                        </div>

                    </ul>
                </li>

                <li class="dropdown inlineIcon">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Time Management <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <div class="liDiv">
                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-line-chart"></span> <span>GanttActual Time</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li class="videocontainer">
                                <div class="grayli">
                                    <span class="fa fa-close grayClose" aria-hidden="true"></span>
                                    <a href="#" class="videoThumb"><img src="images/video.png" class="img-responsive"></a><span class="grayliTxt">
                                        <b>Lorem Lipsum doller sit</b>
                                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                                    </span>
                                </div>
                            </li>


                        </div>

                    </ul>

                </li>

                <li class="dropdown inlineIcon">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cost Management <b class="caret"></b></a>

                    <ul class="dropdown-menu">
                        <div class="liDiv">

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-pie-chart"></span> <span>Construction</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-file-text"></span> <span>Monthly Report</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-check-circle"></span> <span>Request For Changes</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>


                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-thumbs-o-up"></span> <span>Change Approval</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-dollar"></span> <span>Budget Revise</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-pie-chart"></span> <span>Penalty</span> </a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-pie-chart"></span> <span>Payment Request</span> </a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-sticky-note-o"></span> <span>Manager Notes</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>


                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-sticky-note"></span> <span>Client Notes</span> </a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-bar-chart"></span> <span>Finance Management</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-file-text-o"></span> <span>Reports</span> </a></div>
                            </li>

                            <li class="videocontainer">
                                <div class="grayli">
                                    <span class="fa fa-close grayClose" aria-hidden="true"></span>
                                    <a href="#" class="videoThumb"><img src="images/video.png" class="img-responsive"></a><span class="grayliTxt">
                                        <b>Lorem Lipsum doller sit</b>
                                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                                    </span>
                                </div>
                            </li>

                        </div>
                    </ul>









                </li>

                <li class="dropdown inlineIcon">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret "></b></a>



                    <ul class="dropdown-menu">
                        <div class="liDiv">

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-pie-chart"></span> <span>P.Objective</span> </a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-pie-chart"></span> <span>Arch.Concept</span> </a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-pie-chart"></span> <span>P.Charter</span> </a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-pie-chart"></span> <span>Spec & Drawing</span> </a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-pie-chart"></span> <span>P. Team</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-pie-chart"></span> <span>Risk Analysis</span> </a></div>
                            </li>


                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-pie-chart"></span> <span>Project Gallery</span> </a></div>
                            </li>













                            <li class="videocontainer">
                                <div class="grayli">
                                    <span class="fa fa-close grayClose" aria-hidden="true"></span>
                                    <a href="#" class="videoThumb"><img src="images/video.png" class="img-responsive"></a><span class="grayliTxt">
                                        <b>Lorem Lipsum doller sit</b>
                                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                                    </span>
                                </div>
                            </li>






                        </div>
                    </ul>


                </li>

                <li class="dropdown inlineIcon">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Communication <b class="caret "></b></a>



                    <ul class="dropdown-menu">
                        <div class="liDiv">

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-envelope"></span> <span>SMS/Email</span> </a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-gavel"></span> <span>Subcont /Supp</span> </a><a href="#" class="addtxt"><span class="fa fa-phone"></span> New</a></div>
                            </li>

                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-users"></span> <span>Team</span> </a></div>
                            </li>


                            <li>
                                <div class="inlineDiv"><a href="#" class="icontxt"><span class="fa fa-users"></span> <span>Owner</span> </a></div>
                            </li>





                            <li class="videocontainer">
                                <div class="grayli">
                                    <span class="fa fa-close grayClose" aria-hidden="true"></span>
                                    <a href="#" class="videoThumb"><img src="images/video.png" class="img-responsive"></a><span class="grayliTxt">
                                        <b>Lorem Lipsum doller sit</b>
                                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                                    </span>
                                </div>
                            </li>


                        </div>
                    </ul>




                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sales </a>


                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> <b class="caret caretMove"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="internalUser.html"><span class="fa fa-user"></span> Internal Users</a>
                            <a class="plusLink" href="javascript:void(0)"><span class="fa fa-plus-square"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-gavel"></span> Subs</a>
                            <a class="plusLink" href="javascript:void(0)"><span class="fa fa-plus-square"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-address-book"></span> Customer Contacts</a>
                            <a class="plusLink" href="javascript:void(0)"><span class="fa fa-plus-square"></span></a>
                        </li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-bell"></span><b class="caret caretMove"></b>
                    </a>

                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-question-sign"></span> <b class="caret caretMove"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="fa fa-phone"></span> Contact Us</a></li>
                        <li><a href="#"><span class="fa fa-question"></span> Help Center</a></li>
                        <li><a href="#"><span class="fa fa-refresh"></span> Recent Updates</a></li>
                        <li><a href="#"><span class="fa fa-calendar"></span> Live Training</a></li>
                        <li><a href="#"><span class="fa fa-book"></span> Fourm</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span> <b class="caret caretMove"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target="#setupModal" data-original-title><span class="fa fa-cogs"></span> Setup</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#userPreference" data-original-title><span class="fa fa-user"></span> My User Preferences</a></li>
                        <li><a href="#"><span class="fa fa-sign-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <!--------------------- Top nav end here------------->
    <!--------------------- Logo header start here------------->

    <div class="container-fluid logoBar">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 ">
                <div class="logoContainer" style="display:none;">
                    <a href="login.html"><img class="img-responsive" src="images/logo1.jpg"></a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3  col-lg-2">
                <div class="phoneContainer">
                    00956048752136
                </div>
            </div>


            <div class="col-xs-12 col-sm-4 col-md-3  col-lg-2">
                <div class="jobrunningTotal">
                    Job Running Total : $250,000,000
                </div>
            </div>

        </div>
    </div>

    <!--------------------- Logo header end here------------->

    @RenderBody()

    @{
        //Benaa2018.Helper.ViewModels.BaseViewModel baseModel = ViewBag.Basemodel;
        Benaa2018.Helper.ViewModels.UserPreferenceViewModel baseModel = ViewBag.Basemodel;
    }
    @*@using (Html.BeginForm("UserPreferences", "Home", FormMethod.Post))
        {*@
    <div class="modal fade" id="userPreference" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        @Html.Partial("_userPreference", baseModel);
    </div>
    @*}*@
    <script src="~/js/jquery-1.12.4.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.buttons.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/buttons.html5.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/responsive-tabs.js"></script>
    <script src="~/js/jquery.multiselect.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
            @*$(document).ready(function () {
                if (@ViewBag.result== 1) {2

                    $('#userPreference').modal('show');
                    $('#errorDiv').show();
                    $('#spnErrorMessgae').text("Please put all necessary information");
                }
                else if (@ViewBag.result== 2) {

                    $('#userPreference').modal('show');
                    $('#errorDiv').show();
                    $('#spnErrorMessgae').text("User Name already exists");
                }
                else {

                    //$('#userPreference').modal('show');
                    //$('#errorDiv').show();
                    //$('#txtErrorMessage').text("Error occurred");
                }
            });*@

        $(document).ready(function () {
            $("#saveJobInfo").click(function () {
                var infoForm = $("#frmSubmitUserPreference");

                var postData = infoForm.serializeArray();
                $.ajax({
                    url: "@(Url.Action("UserPreferencesDetails", "Home",null))",
                    type: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    data: infoForm.serialize(),
                    success: function (data) {
                        if (data == true) {
                            infoForm.find("input[type='text']").each(function (i, element) {
                                $(this).val('');
                            });
                            alert("Project Details Successfully Added");
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
        });
    </script>


    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                dom: "<'row'<'col-sm-4'l><'col-sm-4'p><'col-sm-4'f>>" +
                    "<'row'<'col-sm-12 tabelHolder'tr>>" +
                    "<'row'<'col-sm-4'i><'col-sm-4'p>>",



            });



        });
    </script>


    <script>
        $(document).ready(function () {

            $('[data-toggle="popover"]').popover({ html: true });
            //$('[data-toggle="tooltip"]').tooltip();
            $(".closeModal").click(function () {
                $("#groupAddModal").hide();
            });

            $(".closeModal").click(function () {
                $("#groupMinusModal").hide();
            });
            $(".closeModal").click(function () {
                $("#locationModal").hide();
            });



        });
    </script>

    <script>




        $(function () {
            //var mainDIV = $( ".mainContentDiv" ).css('margin-left');
            //alert(mainDIV);

            var mmWidth = $(".mainContentDiv").outerWidth();
            var lftNavWidth = $("#leftNavCon").outerWidth();
            var curentmmWidth = mmWidth - lftNavWidth;
            //alert(curentmmWidth)
            $(".mainContentDiv").css({ marginLeft: lftNavWidth });

            $('.openIcon').click(function () {
                if ($(this).hasClass('openSlide')) {
                    $(".mainContentDiv").css({ marginLeft: "20px" });
                    $("#leftNavCon").css({ marginLeft: -lftNavWidth });
                    $(".openIcon").css({ right: '-23px' });
                    $(this).removeClass('openSlide').addClass('closeSlide');
                    $('.leftOuterBtn').show();

                }
                else {
                    $(".mainContentDiv").css({ marginLeft: lftNavWidth });
                    $("#leftNavCon").css({ marginLeft: "0px" });
                    $(".openIcon").css({ right: '-8px' });
                    $(this).removeClass('closeSlide').addClass('openSlide');
                    $('.leftOuterBtn').hide();
                }
            });






            $('.leftOuterBtn').click(function () {
                $(".mainContentDiv").css({ marginLeft: lftNavWidth });
                $("#leftNavCon").css({ marginLeft: "0px" });
                $(".openIcon").css({ right: '-23px' });
                $(".openIcon").removeClass('closeSlide').addClass('openSlide');
                $(this).hide();

            });





        });

    </script>





    <script>
        $(document).ready(function () {
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'mm/dd/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
        })
    </script>



    <script>
        // tooltip demo
        $('.tooltip-div').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        });
    </script>
    <script>
        $('.withCheckbox').multiselect({
            columns: 1,
            placeholder: '--Select--',
            search: true,
            selectAll: true
        });

        $('.noCheckbox').multiselect({
            columns: 1,
            placeholder: '--Select--',
            search: true,
            showCheckbox: false  // display the checkbox to the user
        });

        $('.noCheckboxSearch').multiselect({
            columns: 1,
            placeholder: '--Select--',
            search: false,
            showCheckbox: false  // display the checkbox to the user
        });






    </script>


    <script>

        $(function () {
            // Could also be ['.sort-me', '#also-sort-me']
            $('.sort-me').sortable({ connectWith: '.sort-me' });
            $('.sort-me').sortable({ handle: '.handle' }); // This one isn't connected back.
        });

        $(function () {
            // Could also be ['.sort-me', '#also-sort-me']
            $('.sort-me1').sortable({ connectWith: '.sort-me1' });
            $('.sort-me1').sortable({ handle: '.handle' }); // This one isn't connected back.
        });




    </script>



    <script>



        $(document).ready(function (e) {

            //$('#InternalUser').modal('show');

            $('.myColse').click(function () {
                $(this).parent().parent().parent().hide();
            });






            $('.grayClose').click(function (e) {
                //$(this).parent().parent().parent().addClass('blockUL');
                $(this).parent().parent().hide();
                //alert('Video is going to remove')
            });












            $(".myPlus").click(function (e) {
                $(".myPlusContainer").show();

                $(".myFilterContainer").hide();
                $(".mySortContainer").hide();


                e.stopPropagation();


            });

            $(".myPlusContainer").click(function (e) {
                e.stopPropagation();
            });

            $(document).click(function () {
                $(".myPlusContainer").hide();
            });



            $(".myFilter").click(function (e) {
                $(".myFilterContainer").show();

                $(".myPlusContainer").hide();
                $(".mySortContainer").hide();

                e.stopPropagation();
            });

            $(".myFilterContainer").click(function (e) {
                e.stopPropagation();
            });

            $(document).click(function () {
                $(".myFilterContainer").hide();
            });



            $(".mySort").click(function (e) {
                $(".mySortContainer").show();

                $(".myPlusContainer").hide();
                $(".myFilterContainer").hide();

                e.stopPropagation();
            });

            $(".mySortContainer").click(function (e) {
                e.stopPropagation();
            });

            $(document).click(function () {
                $(".mySortContainer").hide();
            });





            $('.allJobs').click(function (e) {
                $('.view').show();
                $('.projectNameContainer').hide();
                $('.allJobs').addClass('active');
                $('.allProject').removeClass('active');

            });

            $('.allProject').click(function (e) {
                $('.projectNameContainer').show();
                $('.view').hide();
                $('.allProject').addClass('active');
                $('.allJobs').removeClass('active');
            });






            $("ul.nav-tabs a").click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });



        });


    </script>

    @*<script type="text/javascript">
            $(document).ready(function () {
                $('#chkAllView').click(function () {
                   if( $(this).prop('checked') == true){
                    $(this).prop('checked', false);
                    $('.IsChkView').prop('checked', false);
                }
                else {
                    $(this).prop('checked', true);
                    $('.IsChkView').prop('checked', true);

                }
                });
            });
        </script>*@

</body>
</html>
