@model Benaa2018.Helper.ViewModels.BaseViewModel
<div class="hideWhenContactNone">
    <div class="tabConInfo">
        <div class="panel panel-default mrgnTop15px">
            <div class="panel-body">
                <div class="col-sm-4 form-group">
                    <label>Owner Information</label>
                    <select id="selectinfo">
                        <option value="">None</option>
                        <option value="1">Create New Contact</option>
                        <option value="2">Seach Existing Contact</option>
                    </select>
                </div> 
            </div> 
        </div>
        <div id="existingower" style="display:none">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close closeModal" data-dismiss="#locationModal">&times;</button>
                        <h4 class="modal-title">Project Group Editor</h4>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Project Name</th>
                                        <th>Street Address</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Zip</th>
                                        <th>Proj. Manager</th>
                                        <th>Owner</th>
                                        <th>Phone</th>
                                        <th>Cell</th>
                                        <th>Cal. Status</th>
                                        <th>Map</th>
                                        <th>CC Limit</th>
                                        <th>ACH Limit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ProjectMasterModels)
                                    {
                                        <tr>
                                            <td><button data-projectid="@item.ProjectID" class="project-info" type="button">select</button></td>
                                            <td data-toggle="modal" data-target="#newProject" class="projectinfo" data-project="@item.ProjectID">@item.ProjectName</td>
                                            <td>@item.StreetAddress</td>
                                            <td>@item.City</td>
                                            <td>@item.State</td>
                                            <td>@item.Zip</td>
                                            <td>@Model.ProjectManagerMasterModels.Where(a => a.ManagerID.ToString() == item.ProjectManagerID).Select(a => a.ManagerName).FirstOrDefault()</td>
                                            <td>@item.OwnerMasterModel.OwnerName</td>
                                            <td>@item.OwnerMasterModel.Telephone</td>
                                            <td>@item.OwnerMasterModel.MobileNo</td>
                                            <td>@item.OwnerMasterModel.Active</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row owner-existing-info" style="display:none"> 
            <div class="col-sm-6 form-group">
                <label>Owner Name<sup>*</sup></label>
                @Html.TextBoxFor(model => model.OwnerMasterModel.OwnerName, new { placeholder = "Owner Name", @class = "form-control" })
                <span class="errormessege" style="display:none;color:red">Please Enter Owner Name</span>
            </div>
            <div class="col-sm-6 form-group">
                <label>Email<sup>*</sup></label>
                @Html.TextBoxFor(model => model.OwnerMasterModel.Email, new { placeholder = "Email", @class = "form-control" })
                <span class="errormessege" style="display:none;color:red">Please Enter Email Address</span>
            </div>
            <div class="col-sm-6 form-group">
                <label>Phone<sup>*</sup></label>
                @Html.TextBoxFor(model => model.OwnerMasterModel.Telephone, new { placeholder = "Phone", @class = "form-control" })
                <span class="errormessege" style="display:none;color:red">Please Enter Phone Number</span>
            </div>
            <div class="col-sm-6 form-group">
                <label>Cell Phone<sup>*</sup></label>
                @Html.TextBoxFor(model => model.OwnerMasterModel.MobileNo, new { placeholder = "Phone", @class = "form-control" })
                <span class="errormessege" style="display:none;color:red">Please Enter Cell Phone Number</span>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6 form-group">
                <label>Address<sup>*</sup></label>
                @Html.TextBoxFor(model => model.OwnerMasterModel.Address, new { placeholder = "Street Address", @class = "form-control" })
                <span class="errormessege" style="display:none;color:red">Please Enter Address</span>
            </div>
            <div class="col-sm-2 form-group ">
                <label>City</label>
                @Html.TextBoxFor(model => model.OwnerMasterModel.City, new { placeholder = "City", @class = "form-control" })
            </div>
            <div class="col-sm-2 form-group ">
                <label>State</label>
                @Html.TextBoxFor(model => model.OwnerMasterModel.State, new { placeholder = "State", @class = "form-control" })
            </div>
            <div class="col-sm-2 form-group ">
                <label>Zip</label>
                @Html.TextBoxFor(model => model.OwnerMasterModel.Zip, new { placeholder = "Zip", @class = "form-control" })
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6 form-group">
                <label>Cell Email (SMS Text)</label>
                @Html.TextBoxFor(model => model.OwnerMasterModel.Telephone, new { placeholder = "Cell Email (SMS Text)", @class = "form-control" })
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div style="margin-top:10px; display:none;">
        <div class="fieldHeader">Email</div>
        <div class="email-address-control-holder flatTextBox" style="width: 250px;">
            <div></div>
        </div>
        <div style="display:none;">
            <input type="text" value="[]" maxlength="500" size="500" class="small_textbox btcontroldisabled2">
            <input type="text" value="someemailtopass@gmail.com">
            <input type="text" value="nametovalidate">
        </div>
    </div>
    <div>
        <div style="margin-top:10px; display:none;">
            <table style="width: 100%; border-collapse:collapse">
                <tbody>
                    <tr>
                        <td>
                            name*
                            <a href="javascript:void(0);" class="ToolTip" data-tooltip="&amp;nbsp;&amp;nbsp;first name" data-hasqtip="7"></a>
                        </td>
                        <td style="padding:0px 0px 10px 0px;width:100%;vertical-align:middle;">
                            <input type="text" class="flatTextBox ValidationErrorBorder">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>