@model Benaa2018.Helper.ViewModels.CalendarScheduledItemViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/calendar.css" rel="stylesheet" />
@{
    Benaa2018.Helper.ViewModels.BaseViewModel baseModel = ViewBag.Basemodel;
}
@if (ViewBag.IsleftMenuVisible != false)
{
    <div class="col-xs-12 col-sm-6 col-md-3  col-lg-2" id="leftNavCon">
        @Html.Partial("_leftMenu", baseModel);
    </div>
}

<div class="mainContentDiv calenderHolder" style="margin-left: 235px;display:none">
    <div class="list-group-item  main-color-bg-pink">
        <span> Calendar  - <span id="projectname"></span></span>
    </div>
    <div class="tableContainer todoHolder ">
        <button id="btnAddScheule" class="btn btn-success btn-sm">Add</button>
    </div>
    <div class="filterContainer">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                    FILTER YOUR RESULTS
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-2 form-group">
                                        <span>Title</span>
                                        <input class="form-control" id="Title" type="text" />
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <span>Performed By</span>
                                        <select id="PerformedBy" name="PerformedBy" multiple="multiple" class="withCheckbox required">
                                            <option value="" selected="selected">Select</option>
                                            @foreach (var item in baseModel.UserMasterViewModels)
                                            {
                                                <option value="@item.UserID">@item.FullName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <span>Status</span>
                                        <select class="withCheckbox required" multiple="multiple" id="Status" name="Status">
                                            <option value="" selected="selected">All</option>
                                            <option value="1">All</option>
                                            <option value="2">None</option>
                                            <option value="3">Upcoming</option>
                                            <option value="4">In Progress</option>
                                            <option value="5">Incompleted</option>
                                            <option value="6">Past Due</option>
                                            <option value="7">Unconfirmed</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <span>Tags</span>
                                        <select class="withCheckbox required" multiple="multiple" id="ProjectTag" name="ProjectTag">
                                            <option value="" selected="selected">Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 form-group">
                                        <label>Projects Phases</label>
                                        <div class="input-group">
                                            <select class="withCheckbox required" multiple="multiple" id="ProjectPhases" name="ProjectPhases">
                                                <option value="" selected="selected">Select</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <label>Other Items</label>
                                        <div class="input-group">
                                            <select class="withCheckbox required" multiple="multiple" id="ProjectOtherItem" name="ProjectOtherItem">
                                                <option value="" selected="selected">Select</option>
                                                <option value="1">Bid Packages</option>
                                                <option value="2">Change Orders</option>
                                                <option value="3">Daily Logs</option>
                                                <option value="4">Owner Payments</option>
                                                <option value="5">RFIS</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" id="btnUpdateResults">Update Results</button>&nbsp;
                                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Reset</button>&nbsp;
                                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Save Filter</button>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="calendar"></div>
</div>
<div class="modal fade" id="calendarmodal" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: none;">
    @Html.RenderPartialAsync("_addCalendar", Model)
</div>
<div class="modal fade" id="calendarmodalgeneral" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: none;">
    <form id="frmSchedule" enctype="multipart/form-data" method="post">
        <div class="modal-dialog modal-lg width94">
            <div class="panel-heading themeColor">
                <button type="button" class="close infoclose" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="panel-title" id="contactLabel">Projects List</h4>
            </div>
            <div class="panel panel-primary customPopup">
                <div class="modal-dialog modal-lg width94">
                    <div class="row bt-calendar-quick-add--body-row">
                        <div class="col-xs-4">
                            <span class="fieldHeader">Date:</span>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" asp-for="SelectedDate" disabled="disabled" class="form-control" value="" />
                            <input type="hidden" asp-for="ProjectId" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="row bt-calendar-quick-add--body-row">
                        <div class="col-xs-4">
                            <span class="fieldHeader">Title*</span>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" asp-for="Title" class="form-control" />
                        </div>
                    </div>
                    <div class="row bt-calendar-quick-add--body-row">
                        <div class="col-xs-4">
                            <span class="fieldHeader">Assigned To:</span>
                        </div>
                        <div class="col-xs-8">
                            @Html.DropDownListFor(a => a.AssignedTo, new SelectList(baseModel.UserMasterViewModels, "UserID", "FullName"), new { @multiple = "multiple", @class = "withCheckbox required" })
                        </div>
                    </div>
                    <div class="row bt-calendar-quick-add--body-row">
                        <div class="col-xs-4">
                            <span class="fieldHeader">Color:</span>
                        </div>
                        <div class="col-xs-8">
                            <select asp-for="ColorCode" style="background-color:@baseModel.ProjectColorModels.FirstOrDefault().ColorCode" class="form-control required" data-val="true" data-val-required="The ProjectColorId field is required.">
                                @foreach (var item in baseModel.ProjectColorModels)
                                {
                                    <option value="@item.ColorCode" style="background-color:@item.ColorCode">@item.ProjectColorName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row bt-calendar-quick-add--body-row">
                        <div class="col-xs-8 col-xs-offset-4" id="quickAddEditContainer">
                            <input type="button" id="btnQuickAddSave" class="blueButton" value="Save">
                            <a href="#" id="btnQucikAddEditItem" data-bind="click: onEditClick">Edit schedule item »</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="addphase" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="panel panel-primary customPopup">
        <div class="panel-heading themeColor">
            <button type="button" class="close infoclose" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="panel-title" id="contactLabel">Phase List</h4>
        </div>
        <div class="panel-body">
            <input type="button" id="btnAddPhase" class="blueButton" value="Save">
            <div class="header">
                Adding a schedule item tag
            </div>
            Phase Name
            <input type="text" id="PhaseName" class="form-control" />
            Display Order
            <input type="text" id="DisplayOrder" class="form-control" />
            
            <div class="col-xs-4">
                <span class="fieldHeader">Color:</span>
<<<<<<< HEAD
<<<<<<< HEAD
            </div>
            <div class="col-xs-8">
=======
>>>>>>> parent of 940f769... calendar
=======
>>>>>>> parent of 940f769... calendar
                <select id="phasecolor" style="background-color:@baseModel.ProjectColorModels.FirstOrDefault().ColorCode" class="form-control required" data-val="true" data-val-required="The ProjectColorId field is required.">
                    @foreach (var item in baseModel.ProjectColorModels)
                    {
                        <option value="@item.ColorCode" style="background-color:@item.ColorCode">@item.ProjectColorName</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addtag" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="panel panel-primary customPopup">
        <div class="panel-heading themeColor">
            <button type="button" class="close infoclose" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="panel-title" id="contactLabel">Phase List</h4>
        </div>
        <div class="panel-body">
            <input type="button" id="btnAddTag" class="blueButton" value="Save">
            <div class="header">
                Adding a schedule item tag
            </div>
            <input type="text" id="txtTag" class="form-control" />
        </div>
    </div>
</div>

<div id="calendarpage" class="ContentContainer greyTableBorder" style="margin-left: 235px;">
    <div class="mainheader">
        Calendar <span id="jobsiteName">
        </span>
    </div>
    <div id="pleaseselect" class="">
        « Please Select a Jobsite from the left menu to continue
    </div>
</div>
<div id="projectid" style="display:none"></div>
<link href="~/css/calendar.css" rel="stylesheet" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/moment.min.js"></script>
<script src="https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
<link rel="stylesheet" href="https://docs.dhtmlx.com/gantt/codebase/dhtmlxgantt.css">
<script src="~/js/dhtmlxgantt.js"></script>
<script src="~/js/dhtmlxgantt_critical_path.js"></script>
<script src="~/js/calendarview.js"></script>

<script type="text/javascript">
    //$(window).load(function () {
    //    $('.fc-right').insertBefore('.fc-left');
    //});
    $(document).ready(function () {
        $(document).on('click', 'a.allProject', function () {
            $('#projectid').text($(this).attr('data-projectid'));
            $('#spnproject').text($(this).text());
            $("#projectname").text($(this).text());
            $("#ProjectId").val($(this).attr('data-projectid'));
            $('.mainContentDiv').css('display', 'block');
            $('#calendarpage').css('display', 'none');
            $("#SaveType").val('insert');
            populatecalendar($(this).attr('data-projectid'));
        });
        $('#btnAddScheule').on('click', function () {
            $('#calendarmodal').addClass('in').css('display', 'block');
        });
        $(document).on('click', '.infoclose', function () {
            $('#calendarmodal').removeClass('in').css('display', 'none');
            $('#calendarmodalgeneral').removeClass('in').css('display', 'none');
        });
        $('#morepredecessors').on('click', function () {
            var cntpredeitem = $('div.predecessoritem div.form-group').length;
            var innerhtml = $('div.predecessoritem > div.form-group:eq(0)').html();
            innerhtml = innerhtml.replace('PredecessorInformationModels[0].ScheduledItemId', "PredecessorInformationModels[" + cntpredeitem + "].ScheduledItemId")
                .replace('PredecessorInformationModels_0__ScheduledItemId', "PredecessorInformationModels_" + cntpredeitem + "__ScheduledItemId")
                .replace('PredecessorInformationModels_0__TimeFrame', "PredecessorInformationModels_" + cntpredeitem + "__TimeFrame")
                .replace('PredecessorInformationModels[0].TimeFrame', "PredecessorInformationModels[" + cntpredeitem + "].TimeFrame")
                .replace('PredecessorInformationModels_0__Lag', "PredecessorInformationModels_" + cntpredeitem + "__Lag")
                .replace('PredecessorInformationModels[0].Lag', "PredecessorInformationModels[" + cntpredeitem + "].Lag");
            $('.predecessoritem').append('<div class="form-group">' + innerhtml + '</div>');
        });
        $('.btncalendar').on('click', function () {
            var postData = $('#frmPredecessor').serialize();
            $.post("Calendar/SubmitPredecessorInfoAsync", postData, function (data) {
                if (data == true) {
                    infoForm.find("input[type='text']").each(function (i, element) {
                        $(this).val('');
                    });
                    alert("Predecessor Details Successfully Added");
                }
                alert("Predecessor Details Successfully Added");
            });
        });
        $('.fc-content-skeleton td').on('click', function () {
            if ($(this).attr('class') === undefined) {
                $('#calendarmodalgeneral').addClass('in').css('display', 'block');
            }
            else {
                $('#calendarmodal').addClass('in').css('display', 'block');
            }
        });

        $('#btnQuickAddSave').on('click', function () {
            var postData = $('#frmSchedule').serialize();
            $.post("Calendar/SubmitQuickSchedulerInfoAsync", postData, function (data) {
                if (data == true) {
                    infoForm.find("input[type='text']").each(function (i, element) {
                        $(this).val('');
                    });
                }
                alert("Schedule Details Successfully Added");
            });
        });
        $('#btnAddPhase').on('click', function () {
            var postData = { "projectId": parseInt($('#projectid').text()), "phaseName": $('#PhaseName').val(), "displayOrder": parseInt($('#DisplayOrder').val()), "phasecolor": $('#phasecolor').val() };
            $.post("Calendar/SubmitPhaseAsync", postData, function (data) {
                if (data == true) {
                    infoForm.find("input[type='text']").each(function (i, element) {
                        $(this).val('');
                    });
                }
                alert("Schedule Details Successfully Added");
            });
        });
        $('#btnAddTag').on('click', function () {
            var postData = { "projectId": parseInt($('#projectid').text()), "tagName": $('#txtTag').val() };
            $.post("Calendar/SubmitTagAsync", postData, function (data) {
                if (data == true) {
                    infoForm.find("input[type='text']").each(function (i, element) {
                        $(this).val('');
                    });
                }
                alert("Schedule Details Successfully Added");
            });
        });
    });
    function populatecalendar(projectid) {
        var postData = { "projectId": parseInt(projectid) };
        $.post("Calendar/GetScheduledItemsByProjectId", postData, function (data) {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,Agenda,ListView,Gnatt,Baseline,PhasesList'
                },
                views: {
                    ListView: {
                        buttonText: 'List View'
                    },
                    Baseline: {
                        buttonText: 'Base line'
                    },
                    PhasesList: {
                        buttonText: 'Phases List'
                    }
                },
                defaultDate: '2018-03-12',
                navLinks: true,
                editable: true,
                eventLimit: true,
                events: JSON.parse(data),
                Click: function (date, jsEvent, view) {
                },
                dayClick: function (date, jsEvent, view) {
                    $('#calendarmodalgeneral').addClass('in').css('display', 'block');
                    $("#SelectedDate").val(convert(date._d));
                },
                eventClick: function (calEvent, jsEvent, view) {
                    var postData = { "scheduledId": calEvent.id };
                    $("#calendarmodal").load('@(Url.Action("GetScheduledDetailsByIdAsync", "Calendar",null))', postData);
                    $('#calendarmodal').addClass('in').css('display', 'block');
                }
            });
        });
    }
    function convert(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
        return [date.getFullYear(), mnth, day].join("-");
    }
</script>
