@model Benaa2018.Helper.ViewModels.ToDoAllViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Benaa2018.Helper.ViewModels.ToDoAllViewModelDetails baseModel = ViewBag.UserBaseToDoModel;
}

<div class=" mainContentDiv todoMainHolder">
    <div class="row mrgnRyt0 mrgnLft0 ">

        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12" id="rightCon1">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 sort-me">
                    <div class="list-group-item  main-color-bg-pink">
                        <span> To-Do List -<span>(al shatee)</span></span>
                    </div>


                    <div class="tableContainer todoHolder ">
                        <div class="table table-striped custab">
                            <div class="pull-left"><a href="http://localhost:64732/home#" data-toggle="modal" id="infoEdit" data-target="#infoModal" data-original-title="" class="btn btn-success btn-sm">New To-Do</a></div>
                            <div class="pull-right">
                                <select class="form-control" id="ddlAssign">
                                    <option>Checked Actions</option>
                                    <option>Print Checked</option>
                                    <option>Assign To</option>
                                    <option id="btnChecked">Mark Complete</option>
                                    <option>Copy To-Dos</option>
                                    <option>Delete Checked</option>
                                </select>
                                <a href="#" class="Click Import To-Do Template">Import To-Do's</a>
                            </div>
                        </div>
                    </div>


                    <div class="todoShortHolder">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="http://localhost:64732/home#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="">
                                            FILTER YOUR RESULTS
                                        </a>
                                    </h4>
                                </div>

                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-2 form-group">
                                                <span>Keywords</span>
                                                <input type="text" id="txtToDoKeyWords" class="form-control" placeholder="Keyword">

                                                @*<div class="ms-options-wrap"><button type="button"><span>--Select--</span></button><div class="ms-options" style="min-height: 200px; max-height: 642px;"><div class="ms-search"><input type="text" value="" placeholder="Search"></div><a href="http://localhost:64732/home#" class="ms-selectall global">Select all</a><ul style="column-count: 1; column-gap: 0px;"><li data-search-term="test"><label for="ms-opt-5"><input type="checkbox" title="test" id="ms-opt-5" value="1">test</label></li><li data-search-term="test1"><label for="ms-opt-6"><input type="checkbox" title="test1" id="ms-opt-6" value="2">test1</label></li></ul></div></div>*@
                                            </div>
                                            <div class="col-sm-2 form-group">
                                                <span>Assigned To</span>

                                                <select name="cars" class="form-control" id="ddlAssignedToToDoSearch">
                                                    <option value="5">All To-Do's</option>
                                                    <option value="1">Assigned to Me</option>
                                                    <option value="2">Assigned to / Created by Me</option>
                                                    <option value="3">Created by Me</option>
                                                    <option value="4">All Builder Created To-Do's</option>

                                                </select>
                                                @*<select class="withCheckbox jqmsLoaded" id="ProjectMasterModel_ProjectManagerID" multiple="" name="ProjectMasterModel.ProjectManagerID" style="display: none;">
                                                        <option value="1">guru</option>
                                                        <option value="2">sumit</option>
                                                    </select><div class="ms-options-wrap"><button type="button"><span>--Select--</span></button><div class="ms-options" style="min-height: 200px; max-height: 642px;"><div class="ms-search"><input type="text" value="" placeholder="Search"></div><a href="http://localhost:64732/home#" class="ms-selectall global">Select all</a><ul style="column-count: 1; column-gap: 0px;"><li data-search-term="guru"><label for="ms-opt-7"><input type="checkbox" title="guru" id="ms-opt-7" value="1">guru</label></li><li data-search-term="sumit"><label for="ms-opt-8"><input type="checkbox" title="sumit" id="ms-opt-8" value="2">sumit</label></li></ul></div></div>*@
                                            </div>
                                            <div class="col-sm-2 form-group">
                                                <span>Users Assigned To</span>

                                                @Html.DropDownListFor(x => x.UserMasters, new SelectList(ViewBag.SubContractorsList, "UserOwnerDifferentTypeId", "UserOwnerDifferentTypeValue", "UserOriginaTypeText"), new { id = "ddlToDoAssignToDoSearch", @class = "form-control" })
                                                @*<select class="withCheckbox jqmsLoaded" id="ProjectMasterModel_ProjectManagerID" multiple="" name="ProjectMasterModel.ProjectManagerID" style="display: none;">
                                                        <option value="1">guru</option>
                                                        <option value="2">sumit</option>
                                                    </select><div class="ms-options-wrap"><button type="button"><span>--Select--</span></button><div class="ms-options" style="min-height: 200px; max-height: 642px;"><div class="ms-search"><input type="text" value="" placeholder="Search"></div><a href="http://localhost:64732/home#" class="ms-selectall global">Select all</a><ul style="column-count: 1; column-gap: 0px;"><li data-search-term="guru"><label for="ms-opt-7"><input type="checkbox" title="guru" id="ms-opt-7" value="1">guru</label></li><li data-search-term="sumit"><label for="ms-opt-8"><input type="checkbox" title="sumit" id="ms-opt-8" value="2">sumit</label></li></ul></div></div>*@
                                            </div>
                                            <div class="col-sm-2 form-group">
                                                <span>Status</span>
                                                @*<select class="withCheckbox jqmsLoaded" data-val="true" data-val-required="The Project Status* field is required." id="ProjectMasterModel_ProjectStatusID" multiple="" name="ProjectMasterModel.ProjectStatusID" style="display: none;">
                                                        <option value="1">Active</option>
                                                        <option value="2">In Progress</option>
                                                    </select><div class="ms-options-wrap"><button type="button"><span>--Select--</span></button><div class="ms-options" style="min-height: 200px; max-height: 642px;"><div class="ms-search"><input type="text" value="" placeholder="Search"></div><a href="http://localhost:64732/home#" class="ms-selectall global">Select all</a><ul style="column-count: 1; column-gap: 0px;"><li data-search-term="active"><label for="ms-opt-9"><input type="checkbox" title="Active" id="ms-opt-9" value="1">Active</label></li><li data-search-term="in progress"><label for="ms-opt-10"><input type="checkbox" title="In Progress" id="ms-opt-10" value="2">In Progress</label></li></ul></div></div>*@
                                                <select name="cars" class="form-control" id="ddlToDoStatusToDoSearch">
                                                    <option value="2">All Statuses</option>
                                                    <option value="1">Completed</option>
                                                    <option value="0">Not Complted</option>


                                                </select>

                                            </div>
                                            <div class="col-sm-2 form-group">
                                                <span>Priority</span>
                                                <select name="cars" class="form-control" id="ddlToDoPriorityToDoSearch">
                                                    <option value="0">None</option>
                                                    <option value="1">Low</option>
                                                    <option value="2">High</option>
                                                    <option value="3">Highest</option>
                                                </select>
                                                @*<select class="withCheckbox jqmsLoaded" data-val="true" data-val-required="The Project Type* field is required." id="ProjectMasterModel_ProjectTypeID" multiple="" name="ProjectMasterModel.ProjectTypeID" style="display: none;">
                                                        <option value="1">Open</option>
                                                        <option value="2">Closed</option>
                                                        <option value="3">InProgress</option>
                                                    </select><div class="ms-options-wrap"><button type="button"><span>--Select--</span></button><div class="ms-options" style="min-height: 200px; max-height: 642px;"><div class="ms-search"><input type="text" value="" placeholder="Search"></div><a href="http://localhost:64732/home#" class="ms-selectall global">Select all</a><ul style="column-count: 1; column-gap: 0px;"><li data-search-term="open"><label for="ms-opt-11"><input type="checkbox" title="Open" id="ms-opt-11" value="1">Open</label></li><li data-search-term="closed"><label for="ms-opt-12"><input type="checkbox" title="Closed" id="ms-opt-12" value="2">Closed</label></li><li data-search-term="inprogress"><label for="ms-opt-13"><input type="checkbox" title="InProgress" id="ms-opt-13" value="3">InProgress</label></li></ul></div></div>*@
                                            </div>
                                            <div class="col-sm-2 form-group tooltip-div">
                                                <div class="input-group">
                                                    <span>&nbsp;</span>
                                                    <input type="text" id="txtKeyWord" class="form-control" placeholder="Keyword">
                                                    <span>&nbsp;</span>
                                                    <div class="input-group-btn marTop">
                                                        <button type="button" class="btn btn-default" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="Tooltip on left">
                                                            <span class="glyphicon glyphicon-info-sign"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 form-group">
                                                <label>Tags</label>
                                                <div class="input-group">
                                                    @*<input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text">  <div class="input-group-addon">
                                                            <i class="fa fa-calendar">
                                                            </i>
                                                        </div>*@
                                                    @Html.DropDownListFor(x => x.TagIds, new SelectList(ViewBag.TagsList, "TagId", "TagName"), "--Select--", new { id = "ddlTagToDoSearch", @class = "form-control", @multiple = "multiple" })
                                                </div>
                                            </div>
                                            <div class="col-sm-2 form-group">
                                                <label>Actual Start Date</label>
                                                <div class="input-group">
                                                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text">  <div class="input-group-addon">
                                                        <i class="fa fa-calendar">
                                                        </i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 form-group">
                                                <label>Actual End Date</label>
                                                <div class="input-group">
                                                    <input class="form-control" id="date1" name="date" placeholder="MM/DD/YYYY" type="text">  <div class="input-group-addon">
                                                        <i class="fa fa-calendar">
                                                        </i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 form-group tooltip-div">
                                                <label>Name</label>
                                                <div class="input-group">
                                                    <input type="text" id="serchtext" class="form-control" placeholder="Keyword">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" id="btnUpdateResults">Update Results</button>&nbsp;
                                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Reset</button>&nbsp;
                                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Save Filter</button>
                                                @*<button class="btn btn-default btn-sm dropdown-toggle exportExcel" type="button" data-toggle="dropdown">Export to Excel</button>*@
                                                @*<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Save Filter1</button>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tabsConatiner">
                            <div class="tabbable boxed parentTabs">
                                @*<ul class="nav nav-tabs">
                                        <li class="active"><a href="#set11">Internal User</a></li>
                                        <li><a href="#set22">Subs</a></li>
                                        <li><a href="#set33">Customer Contacts</a></li>
                                    </ul>*@
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="set11">
                                        <div class="tabConInfo">
                                            <div class="dataTableConatainer">
                                                <table id="internaluser" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="set22">
                                        <div class="tabConInfo">
                                            <div class="dataTableConatainer">
                                                <table id="subcontractor" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="set33">
                                        <div class="tabConInfo">
                                            <div class="dataTableConatainer">
                                                <table id="customercontracts" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>




                </div>


            </div>
        </div>
        @*<input type="button" value="Get Selected Rows" id="btnChecked" />*@
        @*<input type="button" value="Deleted Checked" id="btnDeleted" />
        <input type="button" value="Assign To" id="btnAssignTo" />*@
    </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">


    @Html.Partial("_toDoAddNew", Model)
</div>
<div class="modal fade selectSedualedItem" id="selectSedualedItem" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    @Html.Partial("_toDoAddSchedule", Model)
</div>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
<script src="~/js/jquery-1.12.4.js"></script>
@*<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap-multiselect/bootstrap-multiselect.css" type="text/css">
    <script type="text/javascript" src="js/bootstrap-multiselect/bootstrap-multiselect.js"></script>*@

<script type="text/javascript">

    $(document).ready(function () {
       // alert('Hi');
          // console.log(@Html.Raw(@ViewBag.UserBaseToDoModel));
        //var mdata = JSON.parse(@ViewBag.UserBaseToDoModel);
        var mdata = @Html.Raw(@ViewBag.UserBaseToDoModel);

        $("#internaluser").jqGrid({
            colModel: [

                { name: "ToDoDetails.TodoDetailsID", label: "TodoDetailsID", width: 53, key: true, hidden: true },
                {
                    name: "ToDoDetails.Title", label: "Title", width: 53
                    },
                { name: "TotalNumberOfMessages", label: "TotalNumberOfMessages", width: 53 },
                        {
                            name: "ToDoDetails.IsMarkedComplete", label:"Complete", editable: true, sortable: true, edittype: 'checkbox', editoptions: { checked: "" }, formatter: 'checkbox', formatoptions: { disabled: false }, width: '100'
                        },
                { name: "ToDoDetails.Priority", label: "Priority", width: 65 },
                { name: "UserNames", label: "AssignedTo", width: 65 },
                { name: "ToDoDetails.AssignedTo", label: "Related Daily Log", width: 65 },
                { name: "ToDoDetails.AssignedTo", label: "Files", width: 65 },
                { name: "ToDoDetails.Duedate", label: "Due", width: 41 },
                { name: "ToDoDetails.CreatedBy", label: "CreatedBy", width: 41 },
                        { name: "TagNames", label: "Tags", width: 65}
                    ],
                    data: mdata,
                    iconSet: "fontAwesome",
                    idPrefix: "g5_",
                    rownumbers: false,
                    sortname: "Title",
                    sortorder: "desc",
                    threeStateSort: true,
                    sortIconsBeforeText: true,
            headertitles: true,
            rowList: [5, 10, 20, "10000:All"],
            toppager: true,
            multiselect: true,
                    pager: true,
            toolbarfilter: true,
                    rowNum: 5,
                    viewrecords: true,
                    searching: {
                        defaultSearch: "cn"
            },
            cellEdit: true,
            //beforeSelectRow: function (rowid, e) {
            //    return false;
            //},
                    caption: ""
        });


        $(".exportExcel").on("click", function () {
            debugger;
            $("#internaluser").jqGrid("exportToExcel", {
                includeLabels: true,
                includeGroupHeader: true,
                includeFooter: true,
                fileName: "To-Do's.xlsx",
                maxlength: 40 // maxlength for visible string data
            })
        })
        });
</script>

<script type="text/javascript">
    $(function () {
        $('#ddlTag').multiselect({
            includeSelectAllOption: true
        });
    })
</script>
<script>
    $(document).ready(function () {
        $("#export").click(function () {
        });
        $("#btnSaveToDo").click(function (e) {
            //alert('Ok');
            debugger;
            e.preventDefault();
       //  var infoForm = $("#frmSubmitToDoMaster");
          //  var postData = $("#frmSubmitToDoMaster")


            $.ajax({
                url: "@(Url.Action("SaveToDo", "ToDo", null))",
                type: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                data:
                     $("#frmSubmitToDoMaster").serialize(),
                success: function (data) {
                    if (data == true) {
                        infoForm.find("input[type='text']").each(function (i, element) {
                            $(this).val('');
                        });
                        alert("Project Details Successfully Added");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
           @*var model = { @Model.ToDoDetails.Title : $("#txtTile").text()!= null ? $("#txtTile").text():"" , @Model.ToDoDetails.TypeNote: $("#txtTypeNote").text().trim() };*@
        });

        //$("#ddltag").next(div).click(function () {
        //    alert('hi');
        //});

        $("#ddlTag").next('.ms-options-wrap').children(".ms-options").click(function () {
           // alert('Hi')
          var totalnumer=$("#ddlTag").next('.ms-options-wrap').children(".ms-options").children("ul").children().length;
            var totalSelected = $("#ddlTag").next('.ms-options-wrap').children(".ms-options").children("ul").children(".selected").length;
            console.log(totalnumer + " " + totalSelected);


           // $("#ddlTag").next('.ms-options-wrap').children("button").children("span").text('Hi');
        });
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnUpdateResults').click(function () {
            //alert('Hi');
            var Keywords = $('#txtToDoKeyWords').val();
            var AssignedTo = $('#ddlAssignedToToDoSearch :selected').val();
            var usersAssignedTo = $('#ddlToDoAssignToDoSearch :selected').val();
            var status = $('#ddlToDoStatusToDoSearch :selected').val();
            var priority = $('#ddlToDoPriorityToDoSearch :selected').text();
    $.ajax({
                url: "@(Url.Action("SearchToDo", "ToDo", null))",
                type: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
        data: { keywords: Keywords, assignedto: AssignedTo, usersAssignedTo: parseInt(usersAssignedTo), status: parseInt(status), priority: parseInt(priority)  },
        success: function (result) {
            debugger;

           // alert('data populate' + result);
            var tt = result;
           // console.log(tt);
           //var JsonModel = tt.html();
            var mdata = @Html.Raw(@ViewBag.UserBaseToDoModel);
            alert(tt);
           // var yy = tt.parseHTML();
          @*var item1 = @Html.Raw(tt);*@
            $("#internaluser").html("");
            $("#internaluser").jqGrid('clearGridData');
            $("#internaluser").jqGrid('setGridParam', { data: tt });
                        @*$("#internaluser").jqGrid('clearGridData').jqGrid({
                            colModel: [

                                { name: "ToDoDetails.TodoDetailsID", label: "TodoDetailsID", width: 53, hidden: true },
                                {
                                    name: "ToDoDetails.Title", label: "Title", width: 53
                                },
                                { name: "TotalNumberOfMessages", label: "TotalNumberOfMessages", width: 53 },
                                {
                                    name: "ToDoDetails.IsMarkedComplete", label: "Complete", editable: true, sortable: true, edittype: 'checkbox', editoptions: { checked: "" }, formatter: 'checkbox', formatoptions: { disabled: false }, width: '100'
                                },
                                { name: "ToDoDetails.Priority", label: "Priority", width: 65 },
                                { name: "ToDoDetails.AssignedTo", label: "AssignedTo", width: 65 },
                                { name: "ToDoDetails.AssignedTo", label: "Related Daily Log", width: 65 },
                                { name: "ToDoDetails.AssignedTo", label: "Files", width: 65 },
                                { name: "ToDoDetails.Duedate", label: "Due", width: 41 },
                                { name: "ToDoDetails.CreatedBy", label: "CreatedBy", width: 41 },
                                { name: "TagNames", label: "Tags", width: 65 }
                            ],
                            data: @Html.Raw(tt),
                            datatype: 'local',
                            iconSet: "fontAwesome",
                            idPrefix: "g5_",
                            rownumbers: false,
                            sortname: "Title",
                            sortorder: "desc",
                            threeStateSort: true,
                            sortIconsBeforeText: true,
                            headertitles: true,
                            rowList: [5, 10, 20, "10000:All"],
                            toppager: true,
                            multiselect: true,
                            pager: true,
                            toolbarfilter: true,
                            rowNum: 5,
                            viewrecords: true,
                            searching: {
                                defaultSearch: "cn"
                            },
                            caption: ""
                        });*@


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

        });

        //$('#internaluser').click(function () {


        //    var grid = $("#internaluser");
        //    var rowKey = grid.getGridParam("selrow");

        //    if (!rowKey)
        //       // alert("No rows are selected");
        //    else {
        //        var selectedIDs = grid.getGridParam("selarrrow");
        //        var result = "";
        //        for (var i = 0; i < selectedIDs.length; i++) {
        //            result += selectedIDs[i] + ",";
        //        }

        //        alert(result);
        //    }

            //var grid = $("#internaluser");
            ////alert(grid);
            //var rowKey = grid.jqGrid('getGridParam', "selrow");

            //if (rowKey) {
            //    alert("Selected row primary key is: " + rowKey);

            //}
            //else
            //    alert("No rows are selected");



            //var selectedIDs = $("#internaluser").getGridParam("selarrrow");
            //    for (var i = 0; i < selectedIDs.length; i++) {
            //        result += selectedIDs[i] + ",";
            //        //result1 = selectedIDs[i].children('td').second().html();
            //}
            //alert(result);
            //var selectedIDs = $("#internaluser").getGridParam("selrow");
            //     for (var i = 0; i < selectedIDs.length; i++) {
            //        result += selectedIDs[i] + ",";
            //        //result1 = selectedIDs[i].children('td').second().html();
            //}
            //alert(result);
        //}
            //var myGrid = $('#internaluser'),
            //    //selRowId = myGrid.jqGrid('getGridParam', 'selrow'),

            //    //celValue = myGrid.jqGrid('getCell', selRowId, 'TodoDetailsID');
            //  //var empIds = $("input[type=hidden][name=TodoDetails ID]").val(Ids);
            //var ty = $("#internaluser").jqGrid("getCol", "TodoDetailsID");
            //console.log(celValue);
            //alert(' hi  ' + ty);
            //var grid = $("#internaluser");
            //var rowKey = grid.getGridParam("selrow");
            //var rowKey1 = grid.jqGrid('getGridParam', "selrow");
            //if (!rowKey)
            //    alert("No rows are selected");
            //else {
            //    var selectedIDs = grid.getGridParam("selarrrow");
            //   // $("#internaluser").getSelectedRows()
            //    var result = "";

            //    for (var i = 0; i < selectedIDs.length; i++) {
            //        result += selectedIDs[i] + ",";
            //        //result1 = selectedIDs[i].children('td').second().html();
            //    }

            //    alert(result);
            //    alert(rowKey1);
            //}
                //var grid = $("#internaluser");
                //var ch = $(this).children('td').html();
                //alert(ch);

                //var rowId = $("#internaluser").jqGrid('getGridParam', 'selrow');
                //var rowData = jQuery("#jqGridDiv").getRowData(rowId);
                //var colData = rowData['IsSelected'];

                //alert('Row id ' + rowId + 'rowData ' + rowData + 'colData ' + colData);
                //internaluser_ToDoDetails.TodoDetailsID
                //var rowKey = grid.getGridParam("selrow");
                //if (!rowKey)
                //    alert("No rows are selected");
                //else {
                //    var selectedIDs = grid.getGridParam("selarrrow");
                //    var result = "";
                //    for (var i = 0; i < selectedIDs.length; i++) {
                //        result += selectedIDs[i] + ",";
                //    }

                //    alert(result);
                //}
                //var ch = $(this).find('#' + id + ' input[type=checkbox]').prop('checked');
                //if (ch) {
                //    jQuery(this).find('#' + id + ' input[type=checkbox]').prop('checked', false);
                //} else {
                //    jQuery(this).find('#' + id + 'input[type=checkbox]').prop('checked', true);
                //}

        //});

        @*$('#btnChecked').click(function () {
            $.ajax({
                url: "@(Url.Action("SaveToDoIsComplete", "ToDo", null))",
                type: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                data: { ToDoDetailsId: "1002" },
        success: function (result) {
            debugger;

            alert('success');


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

        });*@



        @*$('#btnDeleted').click(function () {
            $.ajax({
                url: "@(Url.Action("DeleteToDo", "ToDo", null))",
                type: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                data: { ToDoDetailsId: "2" },
        success: function (result) {
            debugger;

            alert('success');


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

        });*@



        @*$('#btnAssignTo').click(function () {
            $.ajax({
                url: "@(Url.Action("AssignToDoUser", "ToDo", null))",
                type: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                data: { ToDoDetailsId: "2" },
        success: function (result) {
            debugger;

            alert('success');


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

        });*@
        //function getSelectedRows() {
        //    var grid = $("#internaluser");
        //    var rowKey = grid.getGridParam("selrow");

        //    if (!rowKey)
        //        alert("No rows are selected");
        //    else {
        //        var selectedIDs = grid.getGridParam("selarrrow");
        //        var result = "";
        //        for (var i = 0; i < selectedIDs.length; i++) {
        //            result += selectedIDs[i] + ",";
        //        }

        //        alert(result);
        //    }
        //}
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ddlAssign').change(function () {

            var text = $(this).val();
          //  alert(text);

            if (text == "Mark Complete") {
                var grid = $("#internaluser");
                var rowKey = grid.getGridParam("selrow");

                if (!rowKey)
                    alert("No rows are selected");
                else {
                    var selectedIDs = grid.getGridParam("selarrrow");
                    var result = "";
                    for (var i = 0; i < selectedIDs.length; i++) {
                        result += selectedIDs[i] + ",";
                    }


                    $.ajax({
                        url: "@(Url.Action("SaveToDoIsComplete", "ToDo", null))",
                        type: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        },
                        data: { ToDoDetailsId: result },
                        success: function (result) {
                            debugger;

                            alert('success');


                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                }
            }
            else if (text == "Assign To") {
                var grid = $("#internaluser");
                var rowKey = grid.getGridParam("selrow");

                if (!rowKey)
                    alert("No rows are selected");
                else {
                    var selectedIDs = grid.getGridParam("selarrrow");
                    var result = "";
                    for (var i = 0; i < selectedIDs.length; i++) {
                        result += selectedIDs[i] + ",";
                    }

                    $.ajax({
                        url: "@(Url.Action("AssignToDoUser", "ToDo", null))",
                        type: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        },
                        data: { userids: "5", ToDoDetailsId: result },
                        success: function (result) {
                            //debugger;

                            alert('success');


                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                }

            }

            else if (text == "Delete Checked") {

                var grid = $("#internaluser");
                var rowKey = grid.getGridParam("selrow");

                if (!rowKey)
                    alert("No rows are selected");
                else {
                    var selectedIDs = grid.getGridParam("selarrrow");
                    var result = "";
                    for (var i = 0; i < selectedIDs.length; i++) {
                        result += selectedIDs[i] + ",";
                    }

                    $.ajax({
                        url: "@(Url.Action("DeleteToDo", "ToDo", null))",
                        type: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        },
                        data: { ToDoDetailsId: result },
                        success: function (result) {
                            debugger;

                            alert('success');


                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                }
            }
            else if (text == "Copy To-Dos") {
                var grid = $("#internaluser");
                var rowKey = grid.getGridParam("selrow");

                if (!rowKey)
                    alert("No rows are selected");
                else {
                    var selectedIDs = grid.getGridParam("selarrrow");
                    var result = "";
                    for (var i = 0; i < selectedIDs.length; i++) {
                        result += selectedIDs[i] + ",";
                    }

                     $.ajax({
                        url: "@(Url.Action("CopyToDo", "ToDo", null))",
                        type: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        },
                         data: { todoDetailIds: result },
                        success: function (result) {
                            debugger;

                            alert('success');


                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                }


            }

            });

    });
</script>