@model Benaa2018.Helper.Model.CostListsModel
<div class="modal-dialog modalWidth1200">
    <form id="frmCostCode" enctype="multipart/form-data" method="post">
        <div class="panel panel-primary customPopup">
            <div class="panel-heading themeColor">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="panel-title" id="contactLabel">BDS Setup</h4>
            </div>
            <div class="panel-body">
                <a href="javascript:void(0);" class="backButton" data-dismiss="modal">Back</a>
                <hr>
                <div class="topCostBtnHolder">
                    <div class="ccNewHolderLeft">
                        <a href="#" class="newBtn">New</a>
                        <div class="ulHolder">
                            <ul>
                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#groupSetup" data-original-title id="groupSetuppop">Group</a></li>
                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#mainActivity" data-original-title id="mainActivitySetUp">Main Activity</a></li>
                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#activity" data-original-title id="activitySetup">Activity</a></li>
                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#varianceSetUp" data-original-title id="varianceSetupDetails">Variance</a></li>
                                @*<li><a href="#">Variance</a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="ccNewHolderRight">
                        <a href="javascript:void(0);" class="newActionBtn">Break Down Structure Actions</a>
                        <div class="ulHolder">
                            @*<ul>
                                    <li><a href="#">Import NAHB  Codes</a></li>
                                    <li><a href="#">Import NAHB Variance Code</a></li>
                                    <li><a href="#">Export Code</a></li>
                                </ul>*@
                            <ul>
                                <li><a href="#">Import From Beena</a></li>
                                @*<li><a href="#">Import NAHB Variance Code</a></li>*@
                                <li><a href="#">Export Code</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="contentDetails">
                    <h2 class="header1">Costs</h2>
                    @if (Model != null)
                    {
                        foreach (var item in Model.lstGroupMaster)
                        {

                            <div class="costCodeList costCodeListOdd">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#groupSetup" class="newActionBtn groupCode1" data-id="@item.GroupId">@item.GroupCode</a>
                                @foreach (var item2 in Model.lstMainActivityMaster.Where(m => m.GroupId == item.GroupId))
                                {
                                    <div class="innercaotHolder">
                                        <ul>
                                            @if (item2.Status)
                                            {
                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#mainActivity" data-id="@item2.MainActivityId" data-original-title class="mainActivityUpdate">@item2.MainActivityCode</a></li>
                                            }
                                            else
                                            {

                                                <li>X<a href="javascript:void(0);" data-toggle="modal" data-target="#mainActivity" data-id="@item2.MainActivityId" data-original-title class="mainActivityUpdate">@item2.MainActivityCode</a></li>
                                            }

                                            <li>
                                                <ul>
                                                    @foreach (var item3 in Model.lstActivityMaster.Where(m => m.MainActivityId == item2.MainActivityId))
                                                    {

                                                        if (item3.Status)
                                                        {
                                                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#activity" data-id="@item3.ActivityId" class="activityUpdate">@item3.ActivityCode</a></li>

                                                        }
                                                        else
                                                        {

                                                            <li>X<a href="javascript:void(0);" data-toggle="modal" data-target="#activity" data-id="@item3.ActivityId" class="activityUpdate">@item3.ActivityCode</a></li>
                                                        }


                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            </div>
                        }

                    }
                </div>
                <div class="col-md-4">
                    <h2 class="header1">Variances</h2>
                    @*<div class="costCodeList costCodeListOdd">
                            <a href="javascript:void(0);" class="newActionBtn">0 - 9 Plans</a>
                            <div class="innercaotHolder">
                                <ul>
                                    <li>
                                        <a href="#">01 - Dimensioning Error</a>
                                        <ul><li><a href="#">varcode</a></li></ul>
                                    </li>
                                    <li><a href="#">02 - Unclear detailr</a></li>
                                    <li><a href="#">03 - Code violation</a></li>
                                </ul>
                            </div>
                        </div>*@

                   

            @if (Model != null)
            {
                foreach (var item in Model.lstVarianceMaster)
                {

                    <div class="costCodeList costCodeListOdd">
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#varianceSetUp" class="newActionBtn VarianceUpdate" data-id="@item.VarianceId">@item.VarianceCode</a>
                        @*@foreach (var item2 in Model.lstMainActivityMaster.Where(m => m.GroupId == item.GroupId))
                        {
                            <div class="innercaotHolder">
                                <ul>
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#mainActivity" data-id="@item2.MainActivityId" data-original-title class="mainActivityUpdate">@item2.MainActivityCode</a></li>
                                    <li>
                                        <ul>
                                            @foreach (var item3 in Model.lstVarianceMaster.Where(m => m.MainActivityId == item2.MainActivityId))
                                            {
                                               
                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#varianceSetUp" data-id="@item3.VarianceId" class="VarianceUpdate">@item3.VarianceCode </a></li>

                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        }*@
                    </div>
                }

            }
        </div>
        @*<div class="col-md-4">
                <h2 class="header1">Variances</h2>
                <div class="costCodeList costCodeListOdd">
                    <a href="javascript:void(0);" class="newActionBtn">0 - 9 Plans</a>
                    <div class="innercaotHolder">
                        <ul>
                            <li>
                                <a href="#">01 - Dimensioning Error</a>
                                <ul><li><a href="#">varcode</a></li></ul>
                            </li>
                            <li><a href="#">02 - Unclear detailr</a></li>
                            <li><a href="#">03 - Code violation</a></li>
                        </ul>
                    </div>
                </div>
                <div class="costCodeList">
                    <a href="javascript:void(0);" class="newActionBtn">10 - 19 Estimating</a>
                    <div class="innercaotHolder">
                        <ul>
                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#groupActivity" data-original-title>  11 - Omitted from estimate</a></li>
                            <li><a href="#"> 12 - Data entry error (typo)</a></li>
                            <li><a href=#>13 - Take-off error</a></li>
                            <li><a href="#">14 - Missed in EPO review</a></li>
                            <li><a href="#">vartest</a></li>
                        </ul>
                    </div>
                </div>
            </div>*@
        <div class="col-md-3 pull-right">
            <input id="chkSetUp" type="checkbox" name="" data-off-text="Off" data-on-text="On" asp-for="chkStatus">
            <span class="chkText">Show Inactive Codes</span>
        </div>
</div>
        </div>
    </form>
<script src="~/js/common.js"></script>
@*<script src="~/js/activitySetup.js"></script>*@

</div>
