@model IEnumerable<Benaa2018.Helper.ViewModels.MainActivityMasterViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainContentDiv calenderHolder" style="margin-left: 235px">
    <div>
        <input type="button" id="btnMainActivityMaster" value="Add Main Activity Master" />
    </div>
    <div id="grdNew">
        @if (!Model.Any())
        {
            <tr><td>There are no Data</td></tr>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MainActivityId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MainActivityName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sequence)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GroupName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MainActivityId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MainActivityName)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sequence)
                            </td>
                            <td>
                                @Html.DisplayNameFor(model => model.GroupName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                <input type="button" class="btnEditGroup" value="Edit" />
                                <input type="button" class="btnDeleteGroup" value="Delete" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<script type="text/javascript">

        $(document).ready(function () {
            $('.btnEditGroup').click(function () {
                var currentRow = $(this).closest("tr");
                var col1 = currentRow.find("td:eq(0)").text();
                window.location = '/MainActivityMaster/UpdateMainActivityMaster?main_activity_id=' + col1;
            });

            $('.btnDeleteGroup').click(function () {
                var currentRow = $(this).closest("tr");
                var col1 = currentRow.find("td:eq(0)").text();
                alert(col1);
                 $.ajax({
                    url: '@Url.Action("DeleteMainActivityMaster")',
                    type: 'get',
                    cache: false,
                     data: { main_activity_id: col1 }
                }).done(function (result) {
                });
            });

            $('#btnMainActivityMaster').click(function () {
                window.location = '/MainActivityMaster/InsertMainActivityMaster';
            });
        });
</script>

